<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="AccountBookDAO">

<select id="getAccountBookList" resultType="accountBook">
		SELECT
		ACCOUNTBOOK_SEQ , 
		ACCOUNTBOOK_DATE , 
		ACCOUNTBOOK_TRANSLATION , 
		ACCOUNTBOOK_PRICE , 
		ACCOUNTBOOK_PURPOSE 
		FROM
		${hellonoteId}_ACCOUNTBOOK
		<!--  특정 기간 및 항목 선택 조회 -->
		<where>
		<if test= "accountbookFirstDate != null and accountbookFirstDate != '' " >
	 	AND ACCOUNTBOOK_DATE BETWEEN   #{accountbookFirstDate} and #{accountbookLastDate}
	 	</if>
	 	
	 	<if test= " accountbookPurpose != '항목을 선택해 주세요' and accountbookPurpose != '' and accountbookPurpose !=null">
	 	AND ACCOUNTBOOK_PURPOSE=#{accountbookPurpose} 
	 	</if>
		</where>
		
		
		ORDER BY ACCOUNTBOOK_SEQ ASC
		   
</select>

<insert id="insertAccountBook">
	<selectKey order="BEFORE" resultType="int" keyProperty="accountbookSeq">
		SELECT NVL(MAX(ACCOUNTBOOK_SEQ),0)+1 FROM ${hellonoteId}_ACCOUNTBOOK
	</selectKey>  
		insert into ${hellonoteId}_ACCOUNTBOOK 
		(
		ACCOUNTBOOK_SEQ,
		ACCOUNTBOOK_DATE, 
		ACCOUNTBOOK_PURPOSE, 
		ACCOUNTBOOK_TRANSLATION, 
		ACCOUNTBOOK_PRICE
		)
		values
		 ( 
		#{accountbookSeq },
		#{accountbookDate  },
		#{accountbookPurpose},
		#{accountbookTranslation},
		#{accountbookPrice} 
		)

</insert>

<delete id="deleteAccountBook" parameterType="accountBook">
		DELETE FROM ${hellonoteId}_ACCOUNTBOOK
		WHERE ACCOUNTBOOK_SEQ = #{accountbookSeq}

</delete>

<update id="updateAccountBook" parameterType="accountBook">

		UPDATE ${hellonoteId}_ACCOUNTBOOK SET
		ACCOUNTBOOK_DATE =#{accountbookDate}, 
		ACCOUNTBOOK_PURPOSE = #{accountbookPurpose},
		ACCOUNTBOOK_PRICE = #{accountbookPrice} , 
		ACCOUNTBOOK_TRANSLATION = #{accountbookTranslation}
		WHERE ACCOUNTBOOK_SEQ = #{accountbookSeq}

</update>


</mapper>