<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="AccountBookDAO">

<select id="getAccountBookList" resultType="map">
		SELECT
		ACCOUNTBOOK_SEQ, 
		ACCOUNTBOOK_DATE, 
		ACCOUNTBOOK_TRANSLATION, 
		ACCOUNTBOOK_PRICE, 
		ACCOUNTBOOK_PURPOSE
		FROM
		KANG_ACCOUNTBOOK
		   
</select>

<!-- <insert id="insertAccountBook"> -->
<!-- 	INSERT INTO ACCOUNTBOOK -->
<!-- 	(   ACCOUNTBOOKSEQ -->
<!-- 	    ACCOUNTBOOKDATE -->
<!-- 	    ACCOUNTBOOKPURPOSE -->
<!-- 	    ACCOUNTBOOKPRICE -->
<!-- 	    ACCOUNTBOOKTRANSLATION -->
<!-- 	) -->
	
<!-- 	VALUES -->
<!-- 	(   #{ } -->
<!-- 	    #{ } -->
<!-- 	    #{ } -->
<!-- 	    #{ } -->
<!-- 	    #{ } -->
		
<!-- 	) -->

<!-- </insert> -->










</mapper>