<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BankAccountDAO">
<select id="selectBankAccount" resultType="bankAccount">
		SELECT
		BANKACOUNT_SEQ,
		BANKACCOUNT_ACCOUNTNAME,
		BANKACCOUNT_BANKNAME,
		BANKACCOUNT_ACCOUNTNUMBER,
		MENU_ID
		FROM
		${hellonoteId}_BANKACCOUNT
		WHERE MENU_ID = #{menuId}
		<!--  ${hellonoteId} -->
</select>

<insert id="insertBankAccount" >
	<selectKey order="BEFORE" resultType="int" keyProperty="bankaccountSeq">
		SELECT NVL(MAX(BANKACOUNT_SEQ),0)+1 FROM ${hellonoteId}_BANKACCOUNT
	</selectKey>  

	INSERT INTO ${hellonoteId}_BANKACCOUNT
	(
	BANKACOUNT_SEQ,
	BANKACCOUNT_BANKNAME,
	BANKACCOUNT_ACCOUNTNAME,
	BANKACCOUNT_ACCOUNTNUMBER,
	MENU_ID
	)
	
	values
	(
	#{bankaccountSeq},
	#{bankaccountBankname},
	#{bankaccountAccountname},
	#{bankaccountAccountnumber},
	#{menuId}
	)

</insert>

<insert id="noInsertBankAccount" >
	<selectKey order="BEFORE" resultType="int" keyProperty="bankaccountSeq">
		SELECT NVL(MAX(BANKACOUNT_SEQ),0)+1 FROM ${hellonoteId}_BANKACCOUNT
	</selectKey>  
		INSERT INTO ${hellonoteId}_BANKACCOUNT
	(
	BANKACOUNT_SEQ,
	BANKACCOUNT_BANKNAME,
	BANKACCOUNT_ACCOUNTNAME,
	BANKACCOUNT_ACCOUNTNUMBER,
	MENU_ID
	)
	
	values
	(
	#{bankaccountSeq},
	'none',
	'none',
	'none',
	#{menuId}
	)	

</insert>


</mapper>