<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemoDAO">
	<select id="getMemoList" resultType="memo" parameterType="user">
		select
		memo_title,
		memo_place,
		memo_text,
		menu_id,
		memo_seq,
		memo_order
		from
		${hellonoteId}_memo
		where menu_id=#{menuId}
		order by memo_order
	</select>
	<delete id="deleteMemo" parameterType="memo">
		delete from
		${hellonoteId}_memo
		where memo_seq=#{memoSeq}
		and menu_id=#{menuId}
	</delete>
	<update id="updateMemo" parameterType="memo">
		update kang_memo
		set
		memo_title=#{memoTitle},
		memo_text=#{memoText},
		memo_place=#{memoPlace}
		where
		memo_seq=#{memoSeq}
	</update>
	<update id="sortHandling" parameterType="memo">
		update kang_memo
		set
		memo_order = (select memo_order from kang_memo where
		memo_seq=#{memoSeq})
		where memo_order=#{memoOrder}

		update kang_memo
		set
		memo_order=#{memoOrder}
		where memo_seq=#{memoSeq}
	</update>
	<insert id="insertMemo" parameterType="memo">
		<selectKey order="BEFORE" keyProperty="memoSeq"
			resultType="int">
			select nvl(max(memo_seq), 0)+1 from kang_memo
		</selectKey>
		insert into kang_memo(
		memo_title,
		memo_text,
		memo_seq,
		menu_id,
		memo_order
		)
		values(
		'Title',
		'Text',
		#{memoSeq},
		'1',
		(select
		nvl(max(memo_order), 0)+1 from kang_memo)
		)
	</insert>
	<update id="sortHandling1" parameterType="memo">
		update ${hellonoteId}_memo
		<if test="oldOrder lt memoOrder">
			set memo_order = memo_order - 1
			where memo_order between
			#{oldOrder} and #{memoOrder}
		</if>
		<if test="oldOrder gt memoOrder">
			set memo_order = memo_order + 1
			where memo_order between
			#{memoOrder} and #{oldOrder}
		</if>
		and menu_id = #{menuId}
		and memo_order != #{oldOrder}
	</update>
	<update id="sortHandling2" parameterType="memo">
		update
		${hellonoteId}_memo
		set memo_order = #{memoOrder}
		where memo_seq =
		#{memoSeq}
		and menu_id = #{menuId}
	</update>
	<update id="deleteHandling" parameterType="memo">
		update
		${hellonoteId}_memo
		set memo_order = memo_order - 1
		where memo_order >
		(select memo_order from ${hellonoteId}_memo where memo_seq =
		#{memoSeq} and menu_id = #{menuId})
		and menu_id = #{menuId}
	</update>
</mapper>