<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MenuDAO">
	<select id="menuList" parameterType="menu" resultType="menu">
		select menu_id,
		menu_name,
		menu_index,
		menu_typenumber
		from ${hellonoteId}_usermenu
		order by menu_index
	</select>
</mapper>