<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MySiteDAO">

	 <select id="getMySiteListMap" resultType="map">
		SELECT 	SITE_ID "siteId",
				SITE_PW "sitePw",
				SITE_ADDR "siteAddr",
				SITE_MEMO "siteMemo",
				TITLE "title",
				MENU_ID "menuId",
				MYSITE_SEQ "mySiteSeq",
				SITE_DATE "siteDate"
		  FROM  ${userId}_MYSITE
		  ORDER BY MYSITE_SEQ DESC
	</select>


	<select id="getMySiteList" resultType="mysite">
	SELECT b.* FROM(SELECT a.*, ROWNUM rn FROM(
		SELECT 	SITE_ID,
				SITE_PW,
				SITE_ADDR,
				SITE_MEMO,
				TITLE,
				MENU_ID,
				MYSITE_SEQ,
				SITE_DATE
		  FROM  ${userId}_MYSITE
		  <where>
		  	<if test="keyword != null and keyword !='' ">
		  		<if test="searchCondition == 'title' ">
		  			AND title LIKE '%' || #{keyword} || '%'
		  		</if>
		  		<if test="searchCondition == 'siteAddr' ">
		  			AND SITE_ADDR LIKE '%' || #{keyword} || '%'
		  		</if>
		  	</if> 
		  </where>
		  ORDER BY MYSITE_SEQ DESC
	) a ) b WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 전체 건수 -->
	<select id="getMySiteCount" resultType="int">
		SELECT COUNT(*)
		  FROM ${userId}_MYSITE
		  <where>
		  	<if test="keyword != null and keyword !='' ">
		  		<if test="searchCondition == 'title' ">
		  			and title like '%' || #{keyword} || '%'
		  		</if>
		  		<if test="searchCondition == 'siteAddr' ">
		  			and SITE_ADDR like '%' || #{keyword} || '%'
		  		</if>
		  	</if>
		  </where>
	</select>
	
	<!-- DELETE -->
	<delete id="deleteMySite" parameterType="mysite">
		DELETE ${userId}_MYSITE
		WHERE  MYSITE_SEQ = #{mySiteSeq}
	</delete>
	
	<!-- SELECT DELETE -->
	<delete id="getMySitedelete" parameterType="mysite">
		DELETE ${userId}_MYSITE
		WHERE  MYSITE_SEQ = #{mySiteSeq}
	</delete>
	
	
	<!-- INSERT -->
	<insert id="insertMySite">
	<selectKey order="BEFORE" resultType="int" keyProperty="mySiteSeq">
		 SELECT NVL(MAX(MYSITE_SEQ),0)+1 FROM ${userId}_MYSITE 
	</selectKey>
		INSERT INTO ${userId}_MYSITE (  SITE_ID, 
										SITE_PW,
										SITE_ADDR,
										SITE_MEMO,
										TITLE,
										MENU_ID,
										SITE_DATE,
										MYSITE_SEQ  )
				 			 VALUES (   #{siteId},
				  						#{sitePw},
				  						#{siteAddr},
				  						#{siteMemo},
				  						#{title},
				  						#{menuId},
				  						sysdate,
				  						#{mySiteSeq}  )
	</insert>
	
	<!-- UPDATE -->
	<update id="updateMySite" parameterType="mysite">
		UPDATE ${userId}_MYSITE SET
			   SITE_ADDR = #{siteAddr},
			   SITE_ID = #{siteId},
			   SITE_PW = #{sitePw},
			   SITE_MEMO = #{siteMemo},
			   TITLE = #{title},
			   SITE_DATE = sysdate
		WHERE MYSITE_SEQ = #{mySiteSeq}
	</update>
	
	<!-- SELECT -->
	<select id="getMySite" parameterType="mysite" resultType="mysite">
		SELECT 	SITE_ID, 
				SITE_PW,
				SITE_ADDR,
				SITE_MEMO,
				TITLE,
				MENU_ID,
				MYSITE_SEQ,
				SITE_DATE
		  FROM  ${userId}_MYSITE
		 WHERE  MYSITE_SEQ = #{mySiteSeq}
	</select>

</mapper>