<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MySiteDAO">
	<!-- LIST ID 값은 유니크해야함 -->
	<select id="getMySiteList" resultType="mysite">
	SELECT b.* FROM(SELECT a.*, ROWNUM rn FROM(
		SELECT 	SITE_ID,
				SITE_PW,
				SITE_ADDR,
				SITE_MEMO,
				TITLE,
				MENU_ID,
				MYSITE_SEQ
		  FROM  ${userId}_MYSITE
		  <where>
		  	<if test="keyword != null and keyword !='' ">
		  		<if test="searchCondition == 'TITLE' ">
		  			AND title LIKE '%' || #{keyword} || '%'
		  		</if>
		  		<if test="searchCondition == 'SITE_ADDR' ">
		  			AND content LIKE '%' || #{keyword} || '%'
		  		</if>
		  	</if> 
		  </where>
		  ORDER BY SEQ ASC
	) a ) b WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 전체 건수 -->
	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*)
		  FROM BOARD
		  <where>
		  	<if test="keyword != null and keyword !='' ">
		  		<if test="searchCondition == 'title' ">
		  			and title like '%' || #{keyword} || '%'
		  		</if>
		  		<if test="searchCondition == 'content' ">
		  			and content like '%' || #{keyword} || '%'
		  		</if>
		  	</if>
		  </where>
	</select>
	
	<!-- DELETE -->
	<delete id="getBoardDelete" parameterType="board">
		DELETE BOARD 
		WHERE  SEQ = #{seq}   <!--  {}안에 VO 객체 넣으면됨 대소문자 구분함 -->
	</delete>
	
	<!-- INSERT -->
	<insert id="insertBoard"> <!-- 넘겨주는 값을 알기 때문에 parameter 생략가능 -->
<!-- 		<selectKey order="BEFORE" resultType="int" keyProperty="seq"> resultType VO객체 타입과 맞춰줘야함 
			1방법 SELECT NVL(MAX(SEQ),0)+1 FROM BOARD seq 값 조회 하고 insert 해야함
			2방법 SELECT SEQ.NEXTVAL FROM DUAL  <이건 오라클에만 있어서 1번을 주로 사용 
		</selectKey> -->
	<selectKey order="BEFORE" resultType="int" keyProperty="seq">
		 SELECT NVL(MAX(SEQ),0)+1 FROM BOARD 
	</selectKey>
		INSERT INTO BOARD(  SEQ, 
							TITLE,
							WRITER,
							CONTENT,
							REGDATE,
							CNT  )
				  VALUES (  #{seq},
				  			#{title},
				  			#{writer},
				  			#{content},
				  			sysdate,
				  			0  )
	</insert>
	
	<!-- UPDATE -->
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD SET
			   TITLE = #{title},
			   CONTENT = #{content}
		WHERE SEQ = #{seq}
	</update>
	
	<!-- SELECT -->
	<select id="getBoard" parameterType="board" resultType="board">
		SELECT 	SEQ,
				TITLE,
				WRITER,
				CONTENT,
				REGDATE,
				CNT
		  FROM  BOARD
		 WHERE  SEQ = #{seq}
	</select>

</mapper>