table {
	border-collapse: separate;
	border-spacing: 5px 10px;
}

td {
	border: solid 1px black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Jua', 'Fira Sans', sans-serif;
	box-shadow: 0 4px 2px -2px gray;
}

.theDay {
	white-space: nowrap;
	width: 10%;
	text-align: center;
}