<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- SqlSession setup for MyBatis Database Layer Spring과 Mybatis 연동 설정 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- config파일이랑 매핑해주는 xml만 연결시켜주면된다. 스프링실행하면 resource에 있는 -context파일 다읽이면서 여기 밑에 있는 것도 다 읽는다. 파일중하나라도 오류가나면 Spring이 올라오지 않는다. -->
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:sql-map-config-spring.xml" />
		<property name="mapperLocations" value="classpath:/mappings/*.xml" />
	</bean>
	
	<!-- SqlSessionTemplate -->
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"></constructor-arg>
	</bean> 
</beans>
